.footer{
    position: relative;
    iframe{
        width: 100%;
        height: 630px;
    }
    &__info{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 50px;
        width: 460px;
        height: 270px;
        background-color: #c70101;
        margin-bottom: 50px;
    }
    &__addr{
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
    }
    &__tel{
        margin-top: 30px;
        font-size: 20px;
        font-weight: 700;
        color: #ffffff;
        display: flex;
        justify-content: center;
        &:hover{
            text-decoration: none;
        }
    }
    &__social{
        margin-top: 35px;
        display: flex;
        justify-content: center;
    }
}