@media (max-width:1200px) {
	.container {
	  max-width: 830px;
	}
    .catalog-item {
        width: 275px;
  }
  .carousel{
      &__inner{
          img{
              width: 70%;
          }
      }
      .next{
          right: 0;
      }
      .prev{
          left: 0;
      }
  }
}
@media (max-width: 991px){
	.container {
	  max-width: 700px;
	}
  
	.promo {
	  .header {
		justify-content: space-around;
	  }
  
	  &__wrapper {
		align-items: center;
	  }
	}
  
	.advantage {
	  padding: 30px 0 50px 0;
  
	  &__icons {
		margin-top: 30px;
	  }
  
	  &_descr {
		margin-top: 20px;
	  }
  
	  &_text {
		font-size: 12px;
	    }
	}
	.consult{
		padding: 40px 0 40px 0;
		text-align: center;
		.title{
			&_left{
				font-size: 25px;
			}
		}
		&__descr{
			font-size: 20px;
			width: 100%;
			display: flex;
			justify-content: center;
		}
		.feed-form{
			padding-top: 50px;
			margin: 0 auto;
		}
	}
    .carousel{
        &__inner{
            img{
                width: 55%;
            }
        }
        .next{
            right: 60px;
        }
        .prev{
            left: 60px;
        }
    }
    .catalog {
        padding-bottom: 40px;
        &__tab {
            width: 180px;
        }
        &__tabs {
            margin-top: 20px;
        }
        &__content {
            margin-top: 30px;
            justify-content: space-around;
        }
        &-item {
            width: 300px;
        }
    }
    .reviews{
        .container {
            max-width: 580px;
        }
        &__item{
            padding-top: 20px;
            padding-bottom: 26px;
            display: flex;   
            align-items:center;
            img{
                width: 130px;
                height: 130px;
            }
        }
        &__text{
            font-size: 13px;
        }
    }
}
@media (max-width: 767px) {
    .promo{
        min-height: 600px;
        .header{
            justify-content: space-around;
            &__official{
                display: none;
            }
        }
        &__wrapper {
            margin-top: 50px;
            align-items: center;
        }
        &_header {
            font-size: 30px;
            line-height: 10px;
        }
        &__subheader {
            margin-top: 17px;
            font-size: 20px;
        }
    }
	.advantage{
        padding: 20px 0 20px 0;
        &__icons{
            margin-top: 10px;
            flex-direction: column;
            align-items:center;
        }
        &_header {
            font-size: 20px;
        }
        &_descr{
            margin-top: 20px;
        }
        &_text{
            margin-top: 5px;
        }
    }
    .catalog{
        &__tab{
            width: 150px;
            height: 40px;
            font-size: 13px;
            line-height: 40px;
        }
    }
    .reviews{
        &__item{
            img{
                display: none;
            }
        }
    }


}
@media (max-width: 575px) {
    .promo{
        padding: 20px 0 30px 0;
        .header{
            flex-direction: column;
            justify-content: center;
            &__official{
                margin-top: 15px;
                display: flex;
                align-items:center;
            }
            &__contacts{
                margin-top: 20px;
            }
         }
         &__wrapper{
			 margin-top: 35px;
            .promo_header{
                font-size: 20px;
             }
			.promo__subheader{
					margin-top: 10;
                    font-size: 12px;
                }
            .promo__icons{
				margin-top: 20px;
				width: 280px;
			}
			.buttons_main{
				margin-top: 30px;
				width: 270px;
			}
         }
    }
    .consult{
        min-height: 550px;
        .title_left{
            font-size: 17px;
        }
        &__descr{
            margin-top: 37px;
            font-size: 15px;
        }
        .feed-form{
            width: 260px;
        }
    }
    .advantage{
        &_descr {
            margin-top: 10px;
        }
    }
    .carousel{
        padding-top: 45px 0 45px 0;
        button{
            display: none;
        }
        &__inner{
            img{
                width: 70%;  
           }   
        }
    }
    .catalog{
        .title{
            font-size: 20px;
        }
        &__tabs{
            flex-direction: column;
        }
    }
}


